Generate_Google_Doc_Proposal.json
{
  "name": "Generate Google Doc Proposal",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        20
      ],
      "id": "a91c9630-254f-4f6d-bec9-88e0a520ccb0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent proposal writer.",
              "role": "system"
            },
            {
              "content": "I'm a full stack specialist and Next js expert applying to jobs on freelance platforms.\n\nYour task is to take as input an Upwork job description and return as output JSON for a customized proposal (which I'll upload to Google Docs).\n\nHigh-performing proposals are typically templated as follows:\n\n```\n# {titleOfSystem} \n## {briefExplanationOfSystem}\n\nHi. As mentioned, I’m so confident I’m the right fit for this I went ahead and created a proposal for you, including a step-by-step of how I’d do it.\n\nI’ve done the below many times and working with {specificPartOfTheirRequest} is actually one of my favorite things to do. Talk about serendipity!\n\nAnyway, here’s how we'll build {paraphrasedSystem}:\n{stepByStepBulletPoints}\n\nSo basically, {leftToRightFlowWithArrows}.\n\nA little about me:\n{aboutMeBulletPoints}\n\nTo be upfront: my goal is to work with you on a long-term retainer, since I find it aligns incentives and lets me help clients better. So I'd treat everything we do together as foundational, and help you build systems that drive revenue/maximize cost savings. \n\nI am really confident I can blow this out of the park for you, so if this sounds like something you're into, just respond to my proposal on Upwork & we'll take it from there. \n\nThank you for your time!\n```\n\nOutput your results in JSON using this format:\n\n{\n  \"titleOfSystem\": \"\",\n  \"briefExplanationOfSystem\": \"\",\n  \"specificPartOfTheirRequest\": \"\",\n  \"stepByStepBulletPoints\": \"\",\n  \"leftToRightFlowWithArrows\": \"\",\n  \"aboutMeBulletPoints\": \"\",\n}\n\nRules:\n- IMPORTANT: The \"titleOfSystem\" must directly reflect the core product/service requested in the query example if related to Next js then something in those lines\n- Write in a casual, spartan tone of voice.\n- Don't use emojis or flowery language.\n- If there's a name included somewhere in the description, add it for personalization purposes.\n- Return \"stepByStepBulletPoints\" and \"aboutMeBulletPoints\" as strings, and delimit each bullet point with a \\n and make sure it includes a -\n- In \"aboutMeBulletPoints\", prefer to mention social proof that includes $ and numbers.\n- For \"leftToRightFlowWithArrows\", write a simplified left to right flow delimited by \"->\" strings. For instance, we receive a new email -> we add that to the CRM -> we send an email to the new lead.\n- Use first-person \"I\" language, like \"I'd streamline...\" for bullet points etc.\n- Limit to 4 bullet points maximum about \"aboutMeBulletPoints\"\n- Use first-person perspective: \"I built...\", \"I’ve led...\", \"I \n  shipped...\"\n- If the job requires it, include \"5+ years\" experience but only once\n- Prioritize outcome-focused proof:\n- Metrics (e.g., \"40% performance boost\")\n- Scope (e.g., \"15+ apps shipped\")\n- Value (e.g., \"used by 10K+ users\")\n- Mention relevant tech only if it maps to the job description (e.g., Next.js for a frontend SPA, Redis for a caching-heavy app)\n\nSome facts about me for the personalization: {{ $json.aboutMe }}\n"
            },
            {
              "content": "{\"jobDescription\":\"{{ $('Execute Workflow Trigger').item.json.query }}\"}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -220,
        20
      ],
      "id": "3cc5707f-ab0e-4c89-8cd9-805934191e5c",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "r2xmsBOtY2vLqwwJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39edaca5-8da5-4df5-9782-26b00bd4a433",
              "name": "aboutMe",
              "value": "I'm a full stack developer specialist and freelancer, skilled in building outreach systems, CRMs, project management tools, tailored API integrations, and visually stunning UIs using Tailwind CSS.\n\nSome notable things I've done:- One of my standout projects is Black Therapy Network, a $7,000 platform I delivered in just 3 months. It’s a therapist-client based telephonic and video calling website designed specifically to support mental health in the Black community. I built the entire system end-to-end — including a scalable backend, secure payment infrastructure, and appointment scheduling. To enhance accessibility and engagement, I integrated an AI-powered avatar tool capable of generating personalized text-to-video messages with real-time translation, syncing three different services to work together seamlessly.\n\nI have delivered 4 MVP's within 6 months and doing thousands of users combined as my coding is accompained with AI that reduces delivery time and accuracy of the deliverables",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        20
      ],
      "id": "84c9bbce-4fcb-42e5-8cba-6e34f7c84c89",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Copy The Template File').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{titleOfSystem}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.titleOfSystem }}"
            },
            {
              "action": "replaceAll",
              "text": "{{briefExplanationOfSystem}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.briefExplanationOfSystem }}"
            },
            {
              "action": "replaceAll",
              "text": "{{stepByStepBulletPoints}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.stepByStepBulletPoints }}"
            },
            {
              "action": "replaceAll",
              "text": "{{specificPartOfTheirRequest}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.specificPartOfTheirRequest }}"
            },
            {
              "action": "replaceAll",
              "text": "{{leftToRightFlowWithArrows}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.leftToRightFlowWithArrows }}"
            },
            {
              "action": "replaceAll",
              "text": "{{aboutMeBulletPoints}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.aboutMeBulletPoints }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        700,
        20
      ],
      "id": "53797be3-233d-4afb-bb58-e8511c06db1f",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "fBluSPAMOHpVVEWO",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3373c5cd-e66a-4441-8588-4c43033130e8",
              "name": "=urlOfProposal",
              "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit?tab=t.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        340
      ],
      "id": "48b810f1-a64d-4301-8d78-1e7a0e471e49",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "15N53iH9XDNHc8MUtRvwbEfB7lh9c8UA0g3st0MCp3R4",
          "mode": "list",
          "cachedResultName": "Google Docs Upwork Proposal Template",
          "cachedResultUrl": "https://docs.google.com/document/d/15N53iH9XDNHc8MUtRvwbEfB7lh9c8UA0g3st0MCp3R4/edit?usp=drivesdk"
        },
        "name": "={{ $json.message.content.titleOfSystem }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        260,
        20
      ],
      "id": "fec95a8b-1c18-40cc-be0f-6035f18a1768",
      "name": "Copy The Template File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NZwXPyPfbUdnzOJF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        20
      ],
      "id": "f5ea7030-1c67-4262-86c7-58f80ca8ee30",
      "name": "Share Link of Duplicate File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NZwXPyPfbUdnzOJF",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Copy The Template File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy The Template File": {
      "main": [
        [
          {
            "node": "Share Link of Duplicate File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Link of Duplicate File": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8cbc0065-97d0-4afc-b4d7-d38810f7389a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a19690fa807f41963f11b22400dbac2aacb7c155f4edb4994212c91040c566d9"
  },
  "id": "nWxglkkidFlk4quQ",
  "tags": []
}